.container {
  max-width: 1000px;
  margin: auto;
}

label {
  display: block;
}

form input {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  width: 700px;
}

.btn {
  margin-top: 10px;
}

.Post {
  text-align: left;
  padding: 0.6rem;
  border: 2px solid grey;
  border-radius: 7px;
  margin-top: 12px;
}

.Post--data h1 {
  color: rgb(0, 174, 255);
  padding: 0.3rem;
}

.Post-author {
  color: grey;
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
}
