* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
